:root {
  --color-0: #b33734;
  --color-1: #298d30;
  --color-2: #ef880d;
  --color-3: #ae0a8a;
  --color-4: #2b2f30;
  --color-5: #4b4444;
  --color-6: #f2eaea;
  --color-7: #fad0f1;
  --color-8: #eee0e0;
}
