:root {
  --font-family-0: "Roboto Condensed", sans-serif;
  --font-family-1: "Roboto", sans-serif;

  --line-height: 130%;

  --font-size-0: 1.6rem;
  --font-size-1: 1.8rem;
  --font-size-2: 2rem;
  --font-size-3: 2.4rem;

  --font-weight-0: 300;
  --font-weight-1: 400;
  --font-weight-2: 600;
  --font-weight-3: 700;
}