@use '../../../../styles/mixins';

.tableContainer {
  width: 85%;
  margin: 2rem auto 0;
}

.tableField {
  text-align: center;
}

.tableAlign {
  text-align: left;
  cursor: pointer;
}

.tableAlign:hover {
  color: var(--color-2);
}

.columnTitle {
  color: var(--color-5);
  font-size: var(--font-size-1);
  font-family: var(--font-family-0);
  text-align: center;
}

.tableFieldColor {
  color: var(--color-3);
  font-family: var(--font-family-0);
}

.tableIcon {
  color: var(--color-3);
  font-size: 3rem;
  cursor: pointer;

  @include mixins.display-center;
}

.tableWeight {
  font-weight: var(--font-weight-3);
}

@media (max-width: 1200px) {
  .tableContainer {
    margin: 1rem auto 0;
  }
  
  .columnTitle {
    font-size: var(--font-size-0);
  }
  
  .tableIcon {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .tableContainer {
    margin: 1rem 1rem 0;
    width: calc(100% - 2rem);
  }
  
  .columnTitle {
    font-size: var(--font-size-adaptive-1);
  }
  
  .tableIcon {
    font-size: 2rem;
  }
}

@media (max-width: 566px) {
  .tableContainer {
    width: calc(100% - 1rem);
    margin: 0.5rem auto 0;
  }
  
  .columnTitle {
    font-size: 1rem;
  }
  
  .tableIcon {
    font-size: 1rem;
  }
}
