@use '../../styles/mixins';

.header {
  @include mixins.display-row(space-between);

  width: 100%;
  padding: 3rem 5rem;

}

.popularCoinContainer {
  @include mixins.display-column;

  h3 {
    @include mixins.font-header(var(--font-size-0), var(--font-weight-1));
    text-decoration: underline;
    text-decoration-color: var(--color-2);
  }

  .coinList {
    @include mixins.display-row(space-between, flex-start, 5rem);
  }

}